* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat';
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 680vh;
  }