$background-1: url("../images/background-1.png");
$logo-small: url('../images/logo-small.png');
$logo-big: url('../images/logo-big.png');
$divider-white: url('../images/divider-white.png');
$background-2: url("../images/background-2.png");
$tab-1a: url("../images/tab-1a.png");
$tab-1b: url("../images/tab-1b.png");
$tab-1c: url("../images/tab-1c.png");
$devider-orange: url('../images/divider-orange.png');
$devider-orange-small: url('../svg/divider-orange.svg');
$devider-green: url('../svg/divider-green.svg');
$avatar: url('../images/avatar.png');

$background-color-1: black;
$background-color-2:#e17765;
$background-color-3:#6696e2;
$background-color-4:white;
$background-color-5: #41d395;

$text-color-1: white;
$text-color-2:#e17765;
$text-color-3: black;

$input-color: #d8d8d8;

$font-1: 'Montserrat', 'SemiBold';
$font-2: 'Montserrat', 'Regular';

$border-color-1: #e17765;
$border-color-2: white;
$border-color-3:#41d395;